/* CSS Document */

/*********/
/* FONTS */
/*********/

@font-face {
	font-family: 'EA_LOGO';
	src: url('../fonts/ea_logo-webfont.woff2') format('woff2'),
		url('../fonts/ea_logo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'EASports';
	src: url('../fonts/ea_sans_curves_regular-webfont.woff2') format('woff2'),
		url('../fonts/ea_sans_curves_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'FIFA';
	src: url('../fonts/outlastregular-webfont.woff2') format('woff2'),
		url('../fonts/outlastregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


h1 {
	font-family: 'FIFA';
	display: flex;
}




/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button:not(:disabled),
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #111;
	--color-background: #fff;
	--border-color: #111;
}



/* DARK MODE kleuren veranderen naar dark background en white tekst gebasseerd op system preference*/

@media (prefers-color-scheme: dark) {
	:root{
	--color-text: #fff;
	--color-background: #111;
	--border-color: #fff;
  }
}


/* Reduced motion */
@media (prefers-reduced-motion: reduce) {

	h1 {
		animation: none;
	}

	h1>span:nth-of-type(1) {
		animation: none;
	}

	h1>span:nth-of-type(2) {
		animation: none;
	}

	h1 span:nth-of-type(3) {
		animation: none;
	}

	h1 span:nth-of-type(4) {
		animation: none;
	}

	h1 span:nth-of-type(5) {
		animation: none;
	}

}

/****************/
/* JOUW STYLING */
/****************/

/* body styling (kleur, gecenterde items en kleur */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
	height: 100vh;
	margin: 0;
	display: grid;
	place-content: center;
}

/* De letters in flex met de ruimte ertussen */
h1>span {
	display: flex;
	justify-content: space-around;
	width: 1em;
}

/* De EA Sports inclusief balletje (code hulp van Sanne) */
h1>span:nth-of-type(1) {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	border-style: solid;
	border-width: 0.1em;
	border-color: --border-color;
	font-size: 1em;
	text-align: center;
	animation: rotation 4s linear;
	animation-fill-mode: forwards;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

/* font van de EA tekst inclusief size */
h1 span span:nth-of-type(1) {
	font-family: EA_LOGO;
	border: none;
	animation: none;

}

/* font van de Sports tekst inclusief size  */
h1 span span:nth-of-type(2) {
	font-family: EASports;
	font-size: 0.5em;
	bottom: -2em;
}



/* De fifa letters font size + animatie toevoeging & duratie */
h1>span:nth-of-type(2) {
	font-size: 2em;
	animation-name: LetterF-1;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-duration: 2s;
}

h1 span:nth-of-type(3) {
	font-size: 2em;
	animation-name: LetterI;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-duration: 2s;
}

h1 span:nth-of-type(4) {
	font-size: 2em;
	animation-name: LetterF-2;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-duration: 2s;
}

h1 span:nth-of-type(5) {
	font-size: 2em;
	animation-name: LetterA;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-duration: 2s;
}





/* De fifa letters animation, de letters gaan omhoog en draaien 45 graden de ene kant op en vervolgens 45 graden de andere kant op*/

@keyframes LetterF-1 {
	0% {
		transform: translate(0);
	}

	33% {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	66% {
		transform: translate(-75%, -75%) rotate(-45deg);
	}

	100% {
		transform: translate(0) rotate(0deg);
	}

}


@keyframes LetterI {
	0% {
		transform: translate(0);
	}

	33% {
		transform: translate(50%, -50%) rotate(-45deg);
	}

	66% {
		transform: translate(75%, -75%) rotate(45deg);
	}

	100% {
		transform: translate(0) rotate(0deg);
	}
}

@keyframes LetterF-2 {
	0% {
		transform: translate(0);
	}

	33% {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	66% {
		transform: translate(-75%, -75%) rotate(-45deg);
	}

	100% {
		transform: translate(0) rotate(0deg);
	}

}

@keyframes LetterA {
	0% {
		transform: translate(0);
	}

	33% {
		transform: translate(50%, -50%) rotate(-45deg);
	}

	66% {
		transform: translate(75%, -75%) rotate(45deg);
	}

	100% {
		transform: translate(0) rotate(0deg);
	}
}


/* Roterende bal die 360 graden draait en 30% horizontaal naar rechts beweegt */

@keyframes rotation {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(30%) rotate(360deg);
	}

	100% {
		transform: translateX(0);
	}


}



/* Desktop en tablet versie */
@media (min-width: 55em) {

	h1>span {
		width: 1.17em;
	}

	
	/* Het EA Sports balletje op desktop en tablet schermen */

	h1>span:nth-of-type(1) {
		border-radius: 50%;
		width: 3em;
		height: 3em;
		font-size: 1.5em;

	}


	h1 span span:nth-of-type(2) {
		font-size: 0.75em;
		bottom: -2em;
	}



	/* De fifa letters op grote schermen */

	h1>span:nth-of-type(2) {
		font-size: 3.5em;
	}

	h1 span:nth-of-type(3) {
		font-size: 3.5em;
	}

	h1 span:nth-of-type(4) {
		font-size: 3.5em;
	}

	h1 span:nth-of-type(5) {
		font-size: 3.5em;
	}



}


/* mobiele versie */
@media (max-width: 25em) {

	h1>span {
		width: 1em;
	}

	/* Het EA Sports balletje op mobiele schermen */

	h1>span:nth-of-type(1) {
		width: 1.75em;
		height: 1.75em;
		font-size: 1em;

	}


	h1 span span:nth-of-type(2) {
		font-size: 0.35em;
	}


	/* De fifa letters op mobiele schermen */

	h1>span:nth-of-type(2) {
		font-size: 1.5em;
	}

	h1 span:nth-of-type(3) {
		font-size: 1.5em;
	}

	h1 span:nth-of-type(4) {
		font-size: 1.5em;
	}

	h1 span:nth-of-type(5) {
		font-size: 1.5em;
	}
}